<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.kh.nuts.hospital.mapper.HospitalMapper">

	
	<insert id="insertHospital" parameterType="Hospital">
		INSERT INTO HOSPITAL VALUES(
		#{rnum}, #{publisher}, #{creator}, #{collectionDb}, #{title}, #{subjectCategory}, #{reference}, 
		#{source}, #{insertDate}, #{venue}, #{spatial}, #{description}, #{subDescription},
		 #{state}, #{affiliation}
		)
	</insert>
	
	<delete id="deleteHospital">
		DELETE FROM HOSPITAL
	</delete>
	
	<select id="selectHospitalBySearch" resultType="Hospital" parameterType="string">
		SELECT DISTINCT REFERENCE,rnum, TITLE, VENUE, hc.* FROM hospital hp 
		LEFT OUTER JOIN (SELECT hc_rnum, AVG(H_SCORE) "AVG" FROM hospital_comment GROUP BY hc_rnum) hc 
		ON hp.rnum = hc.hc_rnum
		WHERE subjectcategory = '동물병원' 
		AND VENUE LIKE #{addr} 
		AND TITLE LIKE #{title}
		AND REFERENCE IS NOT NULL 
		ORDER BY AVG
	</select>

	<select id="selectHospital" resultType="Hospital" parameterType="string">
		SELECT DISTINCT REFERENCE,rnum, TITLE, VENUE, hc.* FROM hospital hp 
		LEFT OUTER JOIN (SELECT hc_rnum, AVG(H_SCORE) "AVG" FROM hospital_comment GROUP BY hc_rnum) hc 
		ON hp.rnum = hc.hc_rnum
		WHERE subjectcategory = '동물병원' 
		AND VENUE LIKE #{addr} 
		AND TITLE LIKE #{title}
		AND REFERENCE IS NOT NULL 
		ORDER BY AVG
	</select>

	<select id="selectCountbyHospital" parameterType="string" resultType="_int">
		SELECT
		COUNT(*) FROM
		(SELECT DISTINCT REFERENCE FROM hospital
		WHERE subjectcategory = '동물병원' 
		AND VENUE LIKE #{addr} 
		AND TITLE LIKE #{title}
		AND REFERENCE IS NOT NULL)
	</select>
</mapper>