<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!-- 실질적인 SQL이 들어가는 Mapper -->
<mapper namespace="com.kh.nuts.member.mapper.MemberMapper">

	<!-- typeHandler를 위해 멤버 맵핑 선언 -->
	
	
	<insert id="insertMember" parameterType="Member">
		INSERT INTO MEMBER VALUES(
			#{id},
		    #{pw},
		    #{open_profile_url},
		    #{nick_name},
		    #{phone_num},
		    #{profile_ori_name},
		    #{profile_re_name}
			)
	</insert>
	
	<select id="selectMemberAll" resultType="Member">
		SELECT * FROM MEMBER
	</select>
	
	<select id="selectMemberById" parameterType="string" resultType="Member">
		SELECT * FROM MEMBER WHERE ID = #{id}
	</select>

	<delete id="deleteMember" parameterType="string">
		DELETE FROM MEMBER WHERE ID = #{id}
	</delete>	

</mapper>