<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!-- 실질적인 SQL이 들어가는 Mapper -->
<mapper namespace="com.kh.nuts.park.mapper.ParkMapper">

	
	<insert id="insertMember" parameterType="member">
		INSERT INTO MEMBER VALUES(
			#{id},#{password},#{name},#{age},#{gender},
			#{phone},#{address},#{email},
			)
	</insert>
	
	<select id="selectMemberAll" >
		SELECT * FROM MEMBER
	</select>
	
	<select id="selectMemberById" parameterType="string" >
		SELECT * FROM MEMBER WHERE ID = #{id}
	</select>

	<delete id="deleteMember" parameterType="string">
		DELETE FROM MEMBER WHERE ID = #{id}
	</delete>	

</mapper>