<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 실질적인 SQL이 들어가는 Mapper -->
<mapper namespace="com.kh.nuts.walking.mapper.WalkingMapper">

<resultMap type="WalkingParty" id="walkingPartyMap">
		<result property="party_no" column="party_no"/>
		<result property="writer_id" column="writer_id"/>
		<result property="pathOne" column="pathOne"/>
		<result property="pathAll" column="pathAll" typeHandler="WalkingTypeHandler" />
		<result property="contant" column="contant"/>
		<result property="creat_date" column="creat_date"/>
		<result property="start_date" column="start_date"/>
		<result property="start_time" column="start_time"/>
		<result property="estimated_time" column="estimated_time"/>
		<result property="distance" column="distance"/>
		<result property="stat" column="stat"/>
		<result property="nick_name" column="nick_name"/>
		<result property="avg" column="avg"/>
		
</resultMap>
	
	<insert id="insertWalkingParty" parameterType="WalkingParty">
		INSERT INTO WORKING_PARTY VALUES(
			 SEQ_WORKING_PARTY_NO.NEXTVAL,#{writer_id},#{pathOne},#{pathAll, typeHandler = WalkingTypeHandler},#{contant},
			DEFAULT,#{start_date},
			#{start_time},#{estimated_time},#{distance},
			DEFAULT)
	</insert>
		
	<select id="selectWalkingPartyAll" parameterType="string" resultMap="walkingPartyMap">
		SELECT wp.*,m.nick_name nick_name , m.profile_re_name profile , s.avg avg FROM WORKING_PARTY wp 
		JOIN MEMBER m ON writer_id = id 
		JOIN (SELECT recive_id, avg(score) avg from score group by recive_id) s ON writer_id = s.recive_id 
		WHERE writer_id LIKE (#{id}) 
		AND (STAT = '모집중') OR (STAT = '마감')
		ORDER BY start_time
	</select>
	
	<select id="selectWalkingPartySearch" parameterType="string" resultMap="walkingPartyMap" >
		SELECT wp.*,m.nick_name nick_name , m.profile_re_name profile , s.avg avg FROM WORKING_PARTY wp 
		JOIN MEMBER m ON writer_id = id 
		JOIN (SELECT recive_id, avg(score) avg from score group by recive_id) s ON writer_id = s.recive_id 
		WHERE (START_DATE BETWEEN TO_DATE(#{date}) AND TO_DATE(#{date})+ 0.99999) 
		AND writer_id LIKE (#{id}) 
		AND (STAT = '모집중') OR (STAT = '마감')
		ORDER BY start_time
	</select>

	<delete id="deleteWalkingParty" parameterType="_int" >
		DELETE FROM WORKING_PARTY WHERE PARTY_NO = #{party_no}
	</delete>
	
	<insert id="insertWalkingReq" parameterType="string">
		INSERT INTO WALKING_REQUEST VALUES(#{req_no}, DEFAULT, #{respone_id}, #{request_id}, #{party_no})
	</insert>
	
	<select id="selectWalkingReq" resultType="WalkingRequest">
		SELECT * FROM walking_request
	</select>
	<select id="selectReqNo" resultType="string">
		SELECT WR_NO FROM walking_request
	</select>

</mapper>