<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!-- 실질적인 SQL이 들어가는 Mapper -->
<mapper namespace="workingMapper">

	<!-- typeHandler를 위해 멤버 맵핑 선언 -->
<!-- 	<resultMap type="member" id="memberMap"> -->
<!-- 		<result property="id" column="id"/> -->
<!-- 		<result property="password" column="password"/> -->
<!-- 		<result property="name" column="name"/> -->
<!-- 		<result property="age" column="age"/> -->
<!-- 		<result property="gender" column="gender"/> -->
<!-- 		<result property="phone" column="phone"/> -->
<!-- 		<result property="address" column="address"/> -->
<!-- 		<result property="email" column="email"/> -->
<!-- 		<result property="hobby" column="hobby" typeHandler="memberHandler" /> -->
<!-- 		<result property="enrollDate" column="enrollDate"/> -->
<!-- 	</resultMap> -->
	
	<insert id="insertWorkingParty" parameterType="workingParty">
		INSERT INTO MEMBER VALUES(
			 SEQ_WORKING_PARTY_NO.NEXTVAL,#{writer_id},#{pathOne},#{pathAll},#{contant},
			DEFAULT,#{start_date},
			#{start_time},#{estimated_time},#{distance},
			DEFAULT)
	</insert>
	
	<select id="selectMemberAll" >
		SELECT * FROM WORKING_PARTY WHERE (STAT = '모집중') OR (STAT = '마감');
	</select>
	
	<select id="selectMemberById" parameterType="map">
		SELECT * FROM WORKING_PARTY WHERE (START_DATE BETWEEN #{searchDate} AND #{searchDate}+0.99999)AND WRITER_ID = #{writer_id}
	</select>

	<delete id="deleteMember" parameterType="_int">
		DELETE FROM WORKING_PARTY WHERE PARTY_NO = #{party_no}
	</delete>
	
	

</mapper>